/* You can add global styles to this file, and also import other style files */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
}
.dragging {
  cursor: move;
  opacity: 0.8;
}
